{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <h1>영화 상세조회</h1>
    <hr>

    <div class="container row">
      {% if data%}
      {% for i in data%}
        <dl class="row">
          <dt class="col-sm-3"><h3>TITLE</h3></dt>
          <dd class="col-sm-9"><h3>{{i.title}} ({{i.id}})</h3></dd>

          <dt class="col-sm-3">YEAR</dt>
          <dd class="col-sm-9">{{i.year}}</dd>

          <dt class="col-sm-3">RATING</dt>
          <dd class="col-sm-9">{{i.rating}}</dd>

          <dt class="col-sm-3">GENRES</dt>
          <dd class="col-sm-9">{{i.genres}}</dd>

          <dt class="col-sm-3 text-truncate">SUMMARY</dt>
          <dd class="col-sm-9">{{i.summary}}</dd>
        </dl>

      {% endfor %}
      {% endif %}
    </div>
  <div class="text-right">
      <a href="{% url 'movie_info:list' %}" class="btn btn-primary">목록</a>
  </div>
</div>
{% endblock %}