{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <h1>영화 조회 API</h1>
    <hr>
    <div class="row">
        <form action="" method="get" name="filtering">
            {{filter.form}}
            <button class="btn btn-primary" type="submit">필터링</button>
        </form>
    </div>
    <br>
    <div class="row">
        <table class="table">
            <thead>
                <tr class="thead-dark">
                    <th>id</th>
                    <th>title</th>
                    <th>year</th>
                    <th>rate</th>
                    <th>genres</th>
                    <th>summary</th>
                </tr>
            </thead>
            <tbody>
                {% if data %}
                    {% for i in data %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>
                                <a href="{% url 'movie_info:detail' i.id %}">{{i.title|truncatechars:30}}</a>
                            </td>
                            <td>{{i.year}}</td>
                            <td>{{i.rating}}</td>
                            <td>{{i.genres}}</td>
                            <td>{{i.summary|truncatechars:40}}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">현재 영화 정보 없습니다.</td>
                    </tr>
                {%endif%}
            </tbody>
        </table>
        <ul class="pagination justify-content-center">
            {% if data.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ data.previous_page_number }}">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            {% for page_number in data.paginator.page_range %}
            {% if page_number == data.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if data.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ data.next_page_number }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}